.heading {
  font-size: 30px;
  text-align: center;
}
.mycontainer {
  background-color: rgba(196, 196, 196, 0.19);
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  padding: 1%;
}
.content {
  font-size: 15px;
}

/*  For Office Bearers */
/* Office bearers */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.wrapper {
  margin: 50px;
}
.border-col {
  border: 15px solid #251993;
}

/* Indra  */

.img-wrapper {
  width: 100%;
  text-align: center;
}
.main-image {
  width: 90vh;
}
.about-wrapper {
  margin: 10px 100px;
}
.inside-text {
  width: 80%;
  font-weight: 400;
  font-size: 80%;
  text-align: start;
}
.inside-text-2 {
  margin-top: 57px;
}
.heading-about {
  margin-left: 10%;
  text-align: start;
  font-weight: bold;
  margin-bottom: 30px;
}
.col-lg {
  text-align: -webkit-center;
}
.line {
  margin: 50px 70px;
  color: black;
  opacity: 100%;
}
.fa {
  padding: 0px;
}
.footer {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .about-wrapper {
    margin: 30px 30px;
  }
}
