.head {
  margin: 30px;
  font-size: 30px;
}
.login-wrapper {
  margin: 30px !important;
  width: 100% !important;
}
.heading-text {
  margin: 0 !important;
}
.inputField {
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  background: rgba(196, 196, 196, 0.15);
}
#formFile {
  height: auto;
}
#formFile1 {
  height: auto;
}
@media screen and (max-width: 368px) {
  .col-8 {
    height: 100% !important;
  }
}
