.contribute-scripts-screen input{
    display:block;
    margin:10px auto;
    width:60%;
    height:20%;
}
.contribute-scripts-screen textarea{
    display:block;
    margin:20px auto;
    width:60%;
    height:60%;
}

.contribute-scripts-screen button{
    display:block;
    margin:10px auto;
    width:20%;
    border-radius: 15px;
    background-color:#212122;
    color:white;
}

/* View Contribute Scripts Styles */

.contribute-script-card{
    text-align:center;
    display:block;
    margin:10px auto;
    padding:10px;
    width:50%;
    height:20%;
    border:2px solid black;
}

.add-contribute-button{
    display:block;
    margin:10px auto;
    width:20%;
    border-radius: 15px;
    background-color:#212122;
    color:white;
}

.edit-delete-area{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10rem;
}

.edit-delete-area button{
    display:block;
    margin:10px auto;
    width:20%;
    border-radius: 15px;
    background-color:#212122;
    color:white; 
}
/* View Contribute Scripts Styles End */

/* Edit Contributed Scripts Screen Styles */

.edit-contribute-screen input{
    display:block;
    margin:10px auto;
    width:60%;
    height:20%;
}

.edit-contribute-screen textarea{
    display:block;
    margin:20px auto;
    width:60%;
    height:60%;
}

.edit-contribute-screen button{
    display:block;
    margin:10px auto;
    width:20%;
    border-radius:15px;
    background-color: #212122;
    color:white;
}
/* Edit Contributed Scripts Screen Styles End*/
