.col-md-8 {
  height: 93vh;
  background-color: rgba(196, 196, 196, 0.15);
}
.rightBox {
  height: 93vh;
  margin-left: 10px;
  background: linear-gradient(
    360deg,
    #251993 0%,
    rgba(62, 49, 183, 0.91) 99.48%
  );
}
.content-wrapper {
  margin: 30px;
}
.logo {
  width: 150px;
  height: 150px;
  margin: -10px -40px;
}
.background {
  border-radius: 15px;
}
h4 {
  margin: 0;
  font-weight: 600;
  margin-left: 10px;
}
.nav-link {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  color: black !important;
}
.heading {
  margin-left: 50px;
  display: inline-block;
}
.line {
  margin: 28px 30px;
  color: black;
  opacity: 100%;
}
.events {
  text-decoration: underline;
}
.col {
  display: flex;
}
.content-wrapperr {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 764px) {
  .rightBox {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-link {
    text-align: end;
  }
  .dropdown-item {
    text-align: end;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 33%;
  height: 200px;
  margin-right: 10px;
  background: inherit;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell.size-180 {
  width: 180px;
}
.carousel-cell.size-large {
  width: 75%;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel {
  background: 0;
  width: 430px;
}
