.prev-event{
    background: rgba(196, 196, 196, 0.15);
    border:none;
    width:40px;
    height:40px;
    display:flex;
    align-items : center;
    justify-content : center;
}

.prev-event:hover{
    background: grey;
}

.next-event {
    background: rgba(196, 196, 196, 0.15);
    border:none;
    width:40px;
    height:40px;
    display:flex;
    align-items : center;
    justify-content : center;
}

.next-event:hover{
    background: grey;
}
