.login {
  display: none;
}
.navbar {
  padding: 0;
}
.col-lg-8 {
  height: 93vh;
  background-color: rgba(196, 196, 196, 0.15);
}
.rightBox {
  height: 93vh;
  margin-left: 10px;
  background: linear-gradient(
    360deg,
    #251993 0%,
    rgba(62, 49, 183, 0.91) 99.48%
  );
}
.content-wrapper {
  margin: 30px;
}
.logo {
  width: 150px;
  height: 150px;
  margin: -10px -40px;
}
.background {
  border-radius: 15px;
}
h4 {
  margin: 0;
  font-weight: 600;
  margin-left: 10px;
}
.nav-link {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
  color: black !important;
}
.heading {
  margin-left: 6%;
  display: inline-block;
}
.line {
  margin: 28px 30px;
  color: black;
  opacity: 100%;
}
.events {
  text-decoration: underline;
}
.col {
  display: flex;
}
.content-wrapperr {
  text-align: end;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .nav-link {
    text-align: end;
  }
  .dropdown-item {
    text-align: end;
  }
  .rightBox {
    display: none;
  }
  .login {
    display: block;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 45%;
    width: 45%;
  }
  .title {
    margin-left: 10%;
    font-size: 3.5vw !important;
  }
  .nav-link {
    font-size: 2vw !important;
  }
  .heading {
    position: relative;
    bottom: 30px;
  }
  .line {
    position: relative;
    bottom: 30px;
  }
  p {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1072px) {
  .title {
    font-size: 20px;
    margin-right: auto;
  }
  .nav-link {
    font-size: 16px;
  }
  .heading {
    font-size: 2.5vw;
  }
  .line {
    margin: 4% 4%;
  }
  .col-lg-8 {
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 33%;
  height: 200px;
  margin-right: 10px;
  background: inherit;
  border-radius: 10px;
  counter-increment: gallery-cell;
}

.carousel-cell.size-180 {
  width: 50%;
}
.carousel-cell.size-large {
  width: 75%;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel {
  background: 0;
  width: 100%;
}
.flickity-viewport {
  height: 55vh !important;
}
.here {
  height: 47vh !important;
}
.carousel-cell {
  height: 100%;
  width: 70%;
}
.dot {
  background: gray !important;
  opacity: 1 !important;
}
.is-selected {
  background-color: white !important;
}
.navbar-toggler {
  font-size: 2.5vw;
}
.margin {
  position: absolute;
  margin-left: 22%;
  margin-top: 3%;
  color: white !important;
}
.footer {
  text-align: center;
}
p {
  font-size: 20px;
}
.fa {
  padding: 0 !important;
}
.flickity-page-dots {
  display: none;
}
.bot-line {
  bottom: 0 !important;
}
.img-size {
  height: 150px;
  weight: 150px;
}
.css-qz3j4x-MuiPaper-root-MuiCard-root {
  height: 47vh;
}
