@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* html,body{
    display: inline-block;
    box-sizing: border-box;
} */
/* Event Screen Styles Start */
.row {
  justify-content: center;
}
/* Navbar Styling Start */
.navbar {
  background-color: brown;
}

.navbar-toggler {
  background: transparent;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-brand {
  position: relative;
}

.Nav-Tabs li a.active {
  color: #212122;
}
.Nav-Tabs li a.active:focus {
  color: #212122;
}
.Nav-Tabs li a.active:hover {
  color: #212122;
}

.Nav-Tabs li a {
  color: grey;
}
.Nav-Tabs li a:hover {
  color: grey;
}
.Nav-Tabs li a:focus {
  color: grey;
}
.Nav-Tabs li a:active {
  color: grey;
}
/* Navbar Styling End */
/* Event Screen Left and Right Portions */
/*Right Side */

.event-scroller {
  background: linear-gradient(
    360deg,
    #251993 0%,
    rgba(62, 49, 183, 0.91) 99.48%
  );
  display: inline-block;
  position: relative;
  width: 22%;
  box-sizing: border-box;
  margin-top: 1%;
  margin-left: 0.25%;
  margin-right: 1%;
  border-radius: 20px;
  /* height:100%; */
}
.scroller-header {
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 1.5rem;
}

.scroller-header a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.scroller-header a.signup {
  background-color: rgba(255, 255, 255, 0.19);
}

.scroller-home {
  /*display:absolute;*/
  margin: 0 auto 25px;
  padding: 5%;
}

.scroller-home {
  display: inherit;
  margin: 0 auto 25px;
  padding: 5%;
}
.slider-image {
  padding: 1rem;
}
.slider-image img {
  width: 100%;
  height: 100%;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.arrow-btn {
  top: 45%;
}
.next {
  float: right;
}

/*Left Side */
.display-screen {
  background-color: rgba(196, 196, 196, 0.19);
  position: relative;
  width: 75%;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 0.25%;
  border-radius: 20px;
  padding: 1%;
}

.event-screen-scroller-heading {
  /* background-color: chocolate; */
  margin-top: 1%;
  /*height: 10%;*/
  display: flex;
  align-items: center;
  padding-left: 2%;
}
.event-screen-scroller-body {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  /* background-color: darkmagenta; */
  /*height: 60%;*/
  width: 100%;
  margin-bottom: 10px;
  /*padding: 1%;*/
}

.events-main-scroller {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 2%;
}
.event-card {
  /* background-color:deeppink; */
  height: 80%;
  width: 70%;
  border-radius: 20px;
}

.event-card-header {
  /* display: inline-block;
    box-sizing: border-box; */
  height: 40%;
  width: 100%;
  margin: 0px;
  /* background-color: forestgreen; */
  border-radius: 20px 20px 0px 0px;
  /* background:url('https://images.pexels.com/photos/7551752/pexels-photo-7551752.jpeg?cs=srgb&dl=pexels-rodnae-productions-7551752.jpg&fm=jpg') no-repeat center center;
    background-size:cover; */
}
.event-header-image {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 100%;
}
.event-card-body {
  height: 60%;
  margin: 0px;
  padding: 5% 1%;
  background-color: black;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

.event-title {
  text-align: center;
}

.event-presenter-title {
  text-align: center;
  font-weight: 500;
}

.event-presenter-value {
  text-align: center;
}

.event-btn {
  text-align: center;
  display: block;
  margin: 10px auto 0px;
  width: 35%;
  border-radius: 35px;
}

.event-screen-scroller-footer {
  position: absolute;
  bottom: 1%;
  display: inline-block;
  vertical-align: middle;
  /* background-color:darkgreen; */
  height: 10%;
  width: 97%;
  padding: 1%;
}

ul.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}
ul.social-media-list li:not(:last-child) {
  margin-right: 10px;
}
.copyright-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Add Events Screen Styles */
.add-events-screen {
  background: #e5e5e5;
}

.add-events-screen input {
  display: block;
  margin: 10px auto;
  height: 50px;
  width: 500px;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 20px;
}

.add-events-screen button {
  display: block;
  margin: 10px auto;
  background: #2c219a;
  color: #fff;
  border-radius: 5px;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Image";
  color: white;
  display: inline-block;
  background: #2c219a;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.label-style {
  /*position: absolute;*/
  /*width: 201px;*/
  /*height: 28px;*/
  /*left: 103px;*/
  /*top: 86px;*/
  margin-left: 100px;

  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #000000;
}

.image-style {
  width: 100%;
  height: 70%;
  margin-top: 70px;
  border: 1px solid #000000;
}

/* Add Events Screen Styles End*/

/*Edit Events Screen Styles */
.edit-events-screen input {
  display: block;
  margin: 10px auto;
  width: 60%;
  height: 20%;
}
.edit-events-screen button {
  display: block;
  margin: 10px auto;
  width: 20%;
}
/*Edit Events Screen Styles End*/
/* View Events Screen Styles*/

.img-view-events {
  position: relative;
  width: 600px;
  height: 459px;
  left: 65px;
  border-radius: 10px;
}

.view-events-screen {
  text-align: center;
}

.view-events-screen .body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.view-events-screen .image-container {
  padding: 10%;
}

.view-events-screen .image-container img {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.content-container {
  padding: 10px;
  display: block;
  margin: 50% auto;
}
/* View Events Screen Styles End*/
/* Event Screen Styles End */

/*Page Layout EventScreen.js Start*/
.right-box {
  position: relative;
  /* width: 320px; */
  height: 760px;
  top: 10px;
  bottom: 10px;
  background: linear-gradient(360deg, #251993 0%, rgba(62, 49, 183, 0.91) 99.48%);
  border-radius: 20px;
}

.page-top{
  top: 30px;
}

.left-box{
  position: absolute;
  /* width: 928px; */
  /*height: 700px;*/
  /* left: 31px; */
  top: 10px;
  bottom: 10px;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 20px;
}
/*Page Layout EventScreen.js End*/
